<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
<div class="table-data">
  <h2>Display Data using Node.js & MySQL</h2>
  <table border="1">
    <tr>
      <th>i</th>
      <th>Short Text</th>
      <th>Author Name</th>
      <th>Date of Issue</th>
    </tr>

    <%
    if(stories.length!=0){
      var i=1;
    stories.forEach(function(story){
    %>
    <tr>
      <td><%=i; %></td>
      <td><%=story.short_text %></td>
      <td><%=story.author_name %></td>
      <td><%=story.short_text %></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
      <tr>
        <td colspan="7">No Data Found</td>
      </tr>
    <% } %>
  </table>
</div>
</body>
</html>